name: NPM CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        browser:
          - "chrome"
          - "firefox"
          - "opera"
          - "edge"
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4.0.0
        with:
          node-version: 16
      - run: npm install
      - run: npm run build ${{ matrix.browser }}
